<%- include('../partials/header', { title: 'HackShop Job', isLandingPage: false }) %>
<section id="seller-item-lists">
  <div class="container">
    <h1 class="text-center my-4">Item Lists</h1>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr class="text-center">
          <th>Name</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-6">
            <div class="d-flex justify-content-start align-items-center px-4">
              <strong>
                <%= item.name %>
              </strong>
            </div>
          </td>
          <td class="col-2">
            <div class="d-flex justify-content-center align-items-center">
              <%= item.price %>
            </div>
          </td>
          <td class="col-2">
            <div class="d-flex justify-content-center align-items-center">
              <%= item.stock %>
            </div>
          </td>
          <td class="col-2">
            <div class="d-flex justify-content-center align-items-center">
              <a href="/seller/items/<%= item.id %>/edit" class="btn btn-info btn-sm btn-seller-action">Edit</a>
              <a href="/seller/items/<%= item.id %>/delete" class="btn btn-danger btn-sm ml-2 btn-seller-action">Delete</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>  
  </div>
</section>
<%- include('../partials/footer') %>
