<%- include('./partials/header', { title: 'HackShop Job', isLandingPage: false }) %>
<section id="cart">
  <div class="container">
    <h1 class="text-center my-4">Cart</h1>
    <% if (items.length === 0) { %>
      <div class="text-center">
        <h4>Hey, it looks like you haven't make take any item at all. Let's grab some!</h4>
        <a href="/items" class="btn btn-warning">Click me to browse awesome items!</a>
      </div>
    <% } else { %>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr class="text-center">
          <th>Name</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% items.forEach((item) => { %> 
        <tr>
          <td class="col-6">
            <div class="d-flex justify-content-start align-items-center px-4">
                <%= item.name %>
            </div>
          </td>
          <td class="col-2">
            <div class="d-flex justify-content-center align-items-center">
              <%= item.price %>
            </div>
          </td>
          <td class="col-2">
            <div class="d-flex justify-content-center align-items-center">
              <%= item.stock %>
            </div>
          </td>
          <td class="col-2">
            <div class="d-flex justify-content-center align-items-center">
              <a href="/cart/<%= item.id %>/delete" class="btn btn-danger btn-sm ml-2 btn-seller-action">Delete</a>
            </div>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <div class="text-left">
      <div class="d-flex justify-content-end">
        <a href="/checkout" class="btn btn-primary btn">Proceed to Checkout</a>
      </div>
    </div>
    <% } %>
  </div>
</section>
<%- include('./partials/footer') %>
