<%- include('./partials/header', { title: 'HackShop Job', isLandingPage: false }) %>
<section id="edit-profile">
  <div class="container">
    <div class="d-flex justify-content-center mt-5">
      <div class="w-50">
        <h1 class="text-center">Edit Profile</h1>
        <form action="/edit" method="POST">
          <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" name="fullName" id="fullName">
            <% if (errors.findIndex((error) => error.message === 'Please input your full name!') !== -1) { %>
              <div class="alert alert-danger" role="alert">
                <%= %>
              </div>
            <% } %>
          </div>

          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" name="location" id="location">
            <% if (errors.findIndex((error) => error.message === 'Please input your location!') !== -1) { %>
              <div class="alert alert-danger" role="alert">
                <%= %>
              </div>
            <% } %>
          </div>

          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" class="form-control" name="phoneNumber" id="phoneNumber">
            <% if (errors.findIndex((error) => error.message === 'Please input your phone number!') !== -1) { %>
              <div class="alert alert-danger" role="alert">
                <%= %>
              </div>
            <% } %>
          </div>
          
          <div class="text-center">
            <button type="submit" class="btn btn-success">Edit</button>
            <a href="/" class="btn btn-outline-danger">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<%- include('./partials/footer') %>
