<%- include('../partials/header', { title: 'HackShop Job', isLandingPage: false }) %>
<section id="buyer-item-detail">
  <div class="container">
    <div class="row mt-5">
      <div class="col-6">
        <div class="w-100 d-flex justify-content-center">
          <div id="buyer-item-detail-img">
            <div class="d-flex justify-content-center">
              <img src="<%= item.imageUrl %>" alt="<%= item.name %>" class="image-fit" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div>
          <div id="item-detail-title">
            <h3><%= item.name %></h3>
          </div>
          <div id="item-detail-price">
            <h5>
              <strong>
                <%= item.formatPrice %>
              </strong>
            </h5>
          </div>
          <div id="item-detail-seller" class="mt-3">
            <strong>Seller</strong>
            <p><%= item.User.username %></p>
            <p><%= item.User.address %></p>
            Posted on <%= formatDate(item.createdAt) %>  
          </div>
          <div id="item-detail-desc">
            <%= item.description %>  
          </div>
          <% if (loginObj.role === 'buyer') { %>
          <div id="item-detail-btn-atc" class="text-center mt-3">
            <a href="/items/<%= item.id %>/add"><button>Add Item</button></a>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>
